<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cantika Paint</title>
    <%- include('partials/header') %>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <h1>Data Barang</h1>
            <table id="datatablesSimple" style="width:100%" class="table table-striped table-bordered text-center">
                <thead class="text-center">
                    <tr>
                        <% if (branchId == 0) { %>
                        <th>Toko</th>
                        <% } %>
                        <th>Jenis</th>
                        <th>Warna</th>
                        <th>Stok</th>
                    </tr>
                </thead>
            <% if (items?.length > 0) { %>
                <tbody class="table-group-divider">
                    <% items?.forEach(function(item, index) { %>
                        <tr>
                            <input type="text" hidden id="idData" value="<%= item.id %>" />
                            <% if (branchId == 0) { %>
                                <td><%= item.branch.location %></td>
                            <% } %>
                            <td><%= item.type %></td>
                            <td><%= item.color %></td>
                            <td><%= item.stock %></td>
                        </tr>
                    <% }); %>
                    <% } else { %>

                    <% } %>
                </tbody>
            </table>
            <h1>Data Penjualan </h1>
            <table id="datatablesSimple2" class="table table-striped table-bordered text-center" style="width:100%">
                <thead class="text-center">
                    <tr>
                        <% if (branchId == 0) { %>
                            <th>Toko</th>
                        <% } %>
                        <th>Tanggal</th>
                        <th>Jenis</th>
                        <th>Warna</th>
                        <th>Stok</th>
                        <th>Out</th>
                        <th>Stok Akhir</th>
                    </tr>
                </thead>
            <% if (transaction?.length > 0) { %>
                <tbody class="table-group-divider">
                    <% transaction?.forEach(function(trans, index) { %>
                        <tr>
                            <input type="text" hidden id="idData" value="<%= trans?.id %>" />
                            <% if (branchId == 0) { %>
                                <td><%= trans.branch.location %></td>
                            <% } %>
                            <td><%= formatDate(trans.transactionDate)%></td>
                            <td><%= trans.item.type %></td>
                            <td><%= trans.item.color %></td>
                            <td><%= trans.stock %></td>
                            <td><%= trans.out %></td>
                            <td><%= trans.finalStock %></td>
                        </tr>
                    <% }); %>
                    <% } else { %>

                    <% } %>
                </tbody>
            </table>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
<% function formatDate(date) {
  const format = date.split('T');
  const parts = format[0].split('-')
  const formattedDate = `${parts[2]}-${parts[1]}-${parts[0]}`;
  return formattedDate;
} %>